<html>
    <head>
        <title> Project 4: Redo Project1</title>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
        <nav>
            <a href="/os "> Operating Systems </a> <br>
            <a href="/pl"> Programming Languages </a> <br>
            <a href="/virus"> Viruses </a> <br>
            <a href="/ai"> Artificial Intelligence </a> <br>
        </nav>