<% include partials/header %>

    <h3>
        Artificial intelligence (AI) is an area of computer science that emphasizes the creation <br>
        of intelligent machines that work and react like humans. Some of the activities computers <br>
        with artificial intelligence are designed for include: Speech recognition, learning, planning, <br>
        and problem solving <br>
        Machine learning is also a core part of AI. Learning without any kind of supervision requires <br>
        an ability to identify patterns in streams of inputs, whereas learning with adequate supervision <br>
        involves classification and numerical regressions. <br>
    </h3>
    <img src="/img/machinelearning.jpg" />

<% include partials/footer %>