<% include partials/header %>
        <h3>
            There are diffenerent current operating systems, but the majorly used <br>
            is Windows, macOS, and Linux. It is a system software that manages all of <br>
            the computer hardawre and is the most important software that runs on a <br>
            computer. It manages the computer's memory and processes, as well as all <br>
            of its software and hardware. It also allows you to communicate with the <br>
            computer without knowing how to speak the computer's language <br>
        </h3>
        
        <img src="img/os.jpg" />
<% include partials/footer %>