<% include partials/header %>
        <h3>
            There are many different programming language that are useful to one's task. <br>
            Major languages that is commonly used are C, C++, Java, Python, and more. <br>
            Each different language is efficient and easy to execute problems in their own way <br>
            Different languages have their distinct features.These languages allow computers to <br>
            quickly and efficiently process large and complex swaths of information. 
        </h3>
        
        <img src="/img/pl.jpg" />
<% include partials/footer %>