<% include partials/header %>
        <h3>
            Virus are things that can be very damaging to your PC or laptop. They <br>
            are programs that modify the computer's programs, and infect the computer. <br>
            A better term for them would be malware, which take form of any kind of <br>
            malicious software. They can be very annoying to deal with, just look out for <br>
            any suspicious emails and not downlaoding random programs on the internet
        </h3>
        
        <img src="/img/virus.jpg"/>
<% include partials/footer %>